---
import "@fontsource-variable/inter";
import Tracking from "../components/Tracking.astro";
import "../styles/globals.css";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html class="dark" lang="en">
  <head>
    <Tracking />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "Alakh Chandarana"}</title>
    <meta
      name="description"
      content={description || "My short personal website :)"}
    />
    <meta name="author" content="Alakh Chandarana" />
    <meta name="creator" content="Alakh Chandarana" />
  </head>
  <body>
    <slot />
  </body>
</html>
